{{#if currentStep}}
  <div id="counter">{{countdown}}</div>

  <section>{{currentStepHtml}}</section>
{{else}}
  <p><a {{action start}}>START</a></p>
{{/if}}

<p>
  {{#if isPaused}}
    <a href="#" {{action unpause}}>unpause</a>
  {{else}}
    <a href="#" {{action pause}}>pause</a>
  {{/if}}
</p>
