<div id="counter">{{countdown}}</div>

<section>{{currentStepHtml}}</section>

<p>
  {{#if isPaused}}
    <button href="#" {{action unpause}}>Unpause</button>
  {{else}}
    <button href="#" {{action pause}}>Pause</button>
  {{/if}}
</p>
